
@{
    ViewBag.Title = "Authorise";
}

<h2>Authorise</h2>

<h2 style="margin-left: 416px;">Welkom bij iBibliotheek!</h2>
<div id="Logo"> <img src="http://www.bibliocenter.nl/index.php?cmd=file&action=open&file=854" style="width:300px; height:300px; margin-left: 422px; margin-bottom: 15px;" /> </div>
<div id="Beschrijving">
    <center>
        <p>Welkom bij de webapplicatie voor iBibliotheek!</p>
        <p>Met behulp van deze applicatie kun je zelf bepalen welke boeken je wilt lenen of terug wilt brengen,</p>
        <p>ook kun je binnen de catalogus zoeken naar de boeken die bij ons beschikbaar zijn.</p>
        <p>Nog geen account? Meld je bij een van de medewerkers om je te laten registreren.</p>
        <p>Heb je al een account? Log dan @Html.ActionLink("hier", "Index", "Inlog") in</p>
    </center>
</div>