@using KillerApp_SE.Models
@{
    ViewBag.Title = "Index";
}

<center>
    @if (Session["Gebruikernaam"] != null)
    {
        <h2>Welkom bij iBibliotheek, @Bibliotheek.GetGebruiker(Session["Gebruikernaam"].ToString()).Naam!</h2>
    }
    else
    {
        <h2>Welkom bij iBibliotheek!</h2>
    }
</center>
  
<div id="Logo"> <img src="http://www.bibliocenter.nl/index.php?cmd=file&action=open&file=854" style="width:300px; height:300px; margin-left: 422px; margin-bottom: 15px;" /> </div>
<div id="Beschrijving">
    <center>
        <p>Welkom bij de webapplicatie voor iBibliotheek!</p>
        <p>Met behulp van deze applicatie kun je zelf bepalen welke boeken je wilt lenen of terug wilt brengen,</p>
        <p>ook kun je binnen de catalogus zoeken naar de boeken die bij ons beschikbaar zijn.</p>
        <p>Nog geen account? Meld je bij een van de medewerkers om je te laten registreren.</p>
        <p>Heb je al een account? Log dan @Html.ActionLink("hier", "Login", "Home") in</p>
    </center>
</div>